.containerLinks {
  display: flex;
  width: 100%;
  margin-top: 1.5em;
  background-color: #5b8092;
  column-gap: 1em;
  padding: 0.5em 0;
  justify-content: center;
}

.linkDog,
.linkExp {
  text-decoration: none;
  color: #aeb1b6;
}

.plus {
  transform: translateY(-15px);
  padding-left: 0.2em;
}

.logOut {
  cursor: pointer;
  color: #aeb1b6;
}
