.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
  margin-top: 3em;
  width: 100%;
}

.containerLink {
  height: 3em;
  width: 50%;
  background-color: #97E493;
  border-radius: 0.2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.09);
}

.link {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}