.card {
  width: 100%;
  background-color: white;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.09);
  display: flex;
  align-items: center;
  column-gap: 1em;
  text-decoration: none;
}

.paw {
  margin-left: 0.5em;
  color: #97e493;
}

.dog {
  margin: 0;
  padding: 1.33em 0;
  color: #5b8092;
}
